body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #222;
    color: #fff;
}

button {
    padding: 20px 40px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
    color: #fff;
}

.button1 {
    background: #9c27b0;
}

.button1:before {
    content: '';
    position: absolute;
    background: #673ab7;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    left: -50px;
    top: -50px;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
}

.button1:hover:before {
    width: 500px;
    height: 500px;
    left: 50%;
    top: 50%;
}

.button2 {
    background: #f44336;
    perspective: 800px;
}

.button2:after {
    content: 'Clicked!';
    position: absolute;
    background: #e91e63;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 70px;
    color: #fff;
    text-align: center;
    transform: rotateX(-90deg);
    transition: all 0.5s;
}

.button2:hover:after {
    transform: rotateX(0deg);
}

.button3 {
    background: #3f51b5;
    box-shadow: 0 0 20px #3f51b5, 0 0 50px #3f51b5, 0 0 80px #3f51b5, 0 0 100px #3f51b5;
}

.button3:hover {
    background: #673ab7;
    box-shadow: 0 0 20px #673ab7, 0 0 50px #673ab7, 0 0 80px #673ab7, 0 0 100px #673ab7;
}
